BODY {background-color: #BFDFAE}
a:link {  color: #000000; text-decoration: none}
a:visited {  color: #000000; text-decoration: none}
a:active {  color: #FFFFFFF; text-decoration: none}
a:hover {  color: #FFFFFF; text-decoration: none}
//a:hover {  color: #FF3333; text-decoration: none}
.sbody {
	FONT-FAMILY: "新細明體"; FONT-SIZE: 10px;
}
